@media only screen and (max-width: 1300px){
    .achievement-logo-media-query{
        display: block;
        animation: logoleftnaimation 0.5s  ease-in-out;
        position: relative;
    }
    @keyframes  logoleftnaimation {
        from{
            right:50rem;
        }to{
            right:0rem;
        }
        
    }
    .achievement-logo-desktop{
    display: none;
    }
        .achievement-nav-ul{
        
     display: none;
        }
       .achievement-nav-menu-container{
        display: flex;
       }
       .achievement-show-menu-ul{
        display: flex;
       flex-direction: column;
       position: absolute;
       right:0;
       background-color: rgba(0, 0, 0, 0.555);
       top:9.8rem;
       width:26rem;
     height:80vh;
     overflow-y: scroll;
    animation: menuanimation 0.6s  ease-in;
       }
       @keyframes menuanimation {
        from{
                right:-50rem;
            }to{
                right:0rem;
            }
        
       }
       .achievement-nav-ul-li-sub_ul{
        position: relative;
    
       }
       .achievement-nav-ul-li{
        align-items: flex-start;
        text-align: left;
       }
       
       .achievement-nav-ul{
        
        overflow-y: scroll;
        
      
       }
       .achievement-nav-ul-li{
        padding:2rem 1rem;
        border-top:2px solid rgb(82, 81, 81);
        width:100%;
    
        
       }
       .achievement-nav-ul-li-sub_ul{
        border: none;
        padding: 1rem 0rem;
        background-color: rgba(0, 0, 0, 0);
        margin-top:0rem;
       }
     
       .achievement-nav-register_button-container-2{
        animation: registerbuttonleftnaimation 0.5s  ease-in-out;
        position: relative;
       }
       .achievement-nav-menu-container{
        animation: registerbuttonleftnaimation 0.5s  ease-in-out;
        position: relative;
    
       }
       @keyframes registerbuttonleftnaimation {
        from{
            left:50rem;
        }to{
            left:0rem;
        }
    }
    
    
    .achievement-hide-menu-icon{
        animation:hidemenuanimation 0.6s ease-in-out;
        position: relative;
        left:50rem;
    }
    @keyframes hidemenuanimation {
        from{
      left:0rem;
    }
    to{
    left:50rem;
    
    }
    }
    .achievement-close-menu-icon{
        animation:closemenuanimation 0.6s ease-in-out;
        position: relative;
        display: flex;
    }
    @keyframes closemenuanimation {
        from{
      left:50rem;
    }
    to{
    left:0;
    
    }
    }
    .achievement-show-menu-ul-2{
        animation:hidemenubar 0.6s ease-in-out;
        right:-50rem;
    }
    
    @keyframes hidemenubar {
        from{
          right:0rem;
    
    }
    to{
        right:-50rem;
    }
    }
    .achievement-hide-menu-icon-2{
        animation:hidemenubar2 0.6s ease-in-out;
        left:0rem;
    }
    
    @keyframes hidemenubar2 {
        from{
          left:50rem;
    
    }
    to{
        left:0rem;
    }
    }
    
    .achievement-close-menu-icon-2{
        animation:hidemenubar3 0.6s ease-in-out; 
       display: none;
    }  
    }
    
    @media only screen and (max-width: 620px){
        
       
           .achievement-nav-register_button-container-2{
            display: none;
            
           }
          
           .achievement-nav-register_button-container-1{
            display: flex;
            padding:2rem;
           }
    }
    
    @media only screen and (max-width: 540px){
        .achievement-header-heading-container h1{
            font-size: 5rem;
           
        }
    
        .achievement-header-heading-container h1 .text-container {
            display: inline-flex;
            flex-direction: column;
            height: 3.4rem;
            overflow: hidden;
            width:100%;
            position: relative;
            
          }
          
          .achievement-header-heading-container h1 .text-container span {
            margin-top:0.5rem;
            height: 3rem;
            width:100%;
            color: rgb(243, 244, 246);
            text-shadow:0px 5px 5px rgba(0, 0, 0, 0.63);
            animation: moveUp 15s linear infinite;
            font-size:2.8rem;
            font-family:'Lato';
            text-align: center;
            font-weight: bolder;
            color: rgba(255, 68, 0, 0.782);
          }
          
          
          @keyframes moveUp{
            0% {
              transform: translateY(-1rem);
              opacity:0.5;
              
            }
            
            5% {
              transform: translateY(-1rem);
              opacity:1;
             
              
            }
          
            15% {
              transform: translateY(-4.4rem);
              opacity:0.5;
             
              
            }
          
            25% {
              transform: translateY(-4.4rem);
              opacity:1;
             
            }
          
            35% {
              transform: translateY(-8.2rem);
              opacity:0.5;
              
            }
          
            45% {
              transform: translateY(-8.2rem);
              opacity:1;
              
            }
          
            55% {
              transform: translateY(-11.4rem);
              opacity:0.5;
             
            }
          
            65% {
              transform: translateY(-11.4rem);
              opacity:1;
              
            }
          
            75% {
              transform: translateY(-14.8rem);
              opacity:0.5;
              
            }
            85% {
                transform: translateY(-14.8rem);
                opacity:1;
               
              }
            
           
            95% {
              transform: translateY(-1rem);
              opacity:1;
             
              
            }
          
            100% {
              transform: translateY(-1rem);
              opacity:1;
             
            }
          }
    }
    @media only screen and (max-width: 420px){
        .achievement-header-heading-container h1{
            font-size: 4rem;
        }
    
        .achievement-header-heading-container h1 .text-container {
            display: inline-flex;
            flex-direction: column;
            height: 3rem;
            overflow: hidden;
            width:100%;
            position: relative;
            
          }
          
          .achievement-header-heading-container h1 .text-container span {
            margin-top:0.5rem;
            height: 3rem;
            width:100%;
            color: rgb(243, 244, 246);
            text-shadow:0px 5px 5px rgba(0, 0, 0, 0.63);
            animation: moveUp 15s linear infinite;
            font-size:2.2rem;
            font-family:'Lato';
            text-align: center;
            font-weight: bolder;
            color: rgba(255, 68, 0, 0.782);
          }
          
          
          @keyframes moveUp{
            0% {
              transform: translateY(-1rem);
              opacity:0.5;
              
            }
            
            5% {
              transform: translateY(-1rem);
              opacity:1;
             
              
            }
          
            15% {
              transform: translateY(-4rem);
              opacity:0.5;
             
              
            }
          
            25% {
              transform: translateY(-4rem);
              opacity:1;
             
            }
          
            35% {
              transform: translateY(-7.2rem);
              opacity:0.5;
              
            }
          
            45% {
              transform: translateY(-7.2rem);
              opacity:1;
              
            }
          
            55% {
              transform: translateY(-10rem);
              opacity:0.5;
             
            }
          
            65% {
              transform: translateY(-10rem);
              opacity:1;
              
            }
          
            75% {
              transform: translateY(-13rem);
              opacity:0.5;
              
            }
            85% {
                transform: translateY(-13rem);
                opacity:1;
               
              }
            
           
            95% {
              transform: translateY(-1rem);
              opacity:1;
             
              
            }
          
            100% {
              transform: translateY(-1rem);
              opacity:1;
             
            }
          }
    }
    @media only screen and (max-width: 390px){
        .achievement-show-menu-ul{
        
           top:8.3rem;
           width:26rem;
         height:90vh;
         
           }
    }
    @media only screen and (max-width: 350px){
        .achievement-header-heading-container h1{
            font-size: 3rem;
        }
    
    
        .achievement-header-heading-container h1 .text-container {
            display: inline-flex;
            flex-direction: column;
            height: 2.4rem;
            overflow: hidden;
            width:100%;
            position: relative;
            
          }
          
          .achievement-header-heading-container h1 .text-container span {
            margin-top:0.5rem;
            height: 3rem;
            width:100%;
            color: rgb(243, 244, 246);
            text-shadow:0px 5px 5px rgba(0, 0, 0, 0.63);
            animation: moveUp 15s linear infinite;
            font-size:1.6rem;
            font-family:'Lato';
            text-align: center;
            font-weight: bolder;
            color: rgba(255, 68, 0, 0.782);
          }
          
          
          @keyframes moveUp{
            0% {
              transform: translateY(-1rem);
              opacity:0.5;
              
            }
            
            5% {
              transform: translateY(-1rem);
              opacity:1;
             
              
            }
          
            15% {
              transform: translateY(-3rem);
              opacity:0.5;
             
              
            }
          
            25% {
              transform: translateY(-3rem);
              opacity:1;
             
            }
          
            35% {
              transform: translateY(-5.5rem);
              opacity:0.5;
              
            }
          
            45% {
              transform: translateY(-5.5rem);
              opacity:1;
              
            }
          
            55% {
              transform: translateY(-8rem);
              opacity:0.5;
             
            }
          
            65% {
              transform: translateY(-8rem);
              opacity:1;
              
            }
          
            75% {
              transform: translateY(-10.2rem);
              opacity:0.5;
              
            }
            85% {
                transform: translateY(-10.2rem);
                opacity:1;
               
              }
            
           
            95% {
              transform: translateY(-1rem);
              opacity:1;
             
              
            }
          
            100% {
              transform: translateY(-1rem);
              opacity:1;
             
            }
          }
    }