@media only screen and (max-width: 1000px){
    .bharathidasan-container-top-2, 
    .international-container-top-2, 
    .bharathidasan-team-games-container,
     .international-team-games-container{
        grid-template-columns: repeat(3, 2fr);
        padding:3rem 0rem;
        width:100%;
        
     }
     .international-container-top, 
     .bharathidasan-container-top{
width:100%;

     }
     .bharathidasan-option-container, 
.international-option-container{
width:95%;
}
}
@media only screen and (max-width: 820px){

    .international-sports-option h1,
    .bharathidasan-sports-option h1{
      font-size:2.2rem;
    }
    .international-sports-option select,
    .bharathidasan-sports-option select
    {
   font-size:1.5rem;
    }
    
    .international-sports-option select option,
    .bharathidasan-sports-option select option
    {
        font-size:1.5rem;
    }
    .international-heading{
        margin:0;
 margin-bottom:4rem;
 
    }
    .bharathidasan-heading-2 h1{
       font-size:2rem;
       line-height:2.4rem;
    }


    .bharathidasan-title-and-year-container select,
    .international-title-and-year-container select{
      font-size:2rem;
      border-radius:2rem;
    }
    
    }
    @media only screen and (max-width: 670px){
        .golden-jubilee-tournaments-detail-container .g-j-t-3 .price-container{
            flex-direction: column;
        }

        .golden-jubilee-tournaments-detail-container .g-j-t-1 .g-j-t-1-container-1 {
            width:100%;
        }
        .golden-jubilee-tournaments-detail-container .g-j-t-2{
            flex-direction: column;
        }
        .golden-jubilee-tournaments-detail-container .g-j-t-2 .g-j-t-2-container-2,
        .golden-jubilee-tournaments-detail-container .g-j-t-2 .g-j-t-2-container-1 {
            width:100%;
        }

        .international-container-top, 
        .bharathidasan-container-top{
            grid-template-columns: repeat(2, 2fr);
            row-gap:3rem;
        }
        .bharathidasan-container-top-2, 
        .international-container-top-2, 
        .bharathidasan-team-games-container,
         .international-team-games-container{
            grid-template-columns: repeat(2, 2fr);
            padding:3rem 0rem;
            width:100%;
         }
        .international-heading-3,
        .bharathidasan-heading-3{
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 90% 100%, 8% 50%, 90% 0);

        }
        .international-heading-2,
        .bharathidasan-heading-2{
            flex-basis:100%;
        }
        .international-heading-1,
        .bharathidasan-heading-1{
            clip-path: polygon(10% 0%, 95% 48%, 10% 100%, 0% 100%, 0 51%, 0% 0%);

        }
    
        .international-heading-2 h1{
            font-size:2.4rem;
        }
        .bharathidasan-heading-2 h1{
            font-size:1.6rem;
            line-height:2.2rem;
         }
            
        }
        
        @media only screen and (max-width: 550px){
            .international-heading-2 h1{
                font-size:2rem;
            }
            .international-option-container,
            .bharathidasan-option-container{
            flex-direction: column;
            row-gap:1rem;
            
            }
            .bharathidasan-heading{
                margin:5rem 0rem;

            }
            .international-title-and-year-container,
            .bharathidasan-title-and-year-container{
                justify-content: flex-start;
                align-items: flex-start;
            }
            .international-sports-option h1:before,
            .bharathidasan-sports-option h1:before{
                height:0.3rem;
                width:98%;
                bottom:-2.5px;
               
               
            }
            .international-sports-option,
            .bharathidasan-sports-option{
               border-bottom:5px solid orangered;
            }
           
        }
        @media only screen and (max-width: 490px){

            .golden-jubilee-tournaments-detail-container .g-j-t-1 .g-j-t-1-container-1 {
                padding:2rem;
                >h1{
                  font-size:2rem;
                }
                >p{
                   font-size:1.2rem;
                }
            }
            .golden-jubilee-tournaments-detail-container .g-j-t-2 .g-j-t-2-container-2,
        .golden-jubilee-tournaments-detail-container .g-j-t-2 .g-j-t-2-container-1 {
            padding:1.5rem;
            >h1{
              font-size:1.8rem;
            }
            >p{
               font-size:1.2rem;
            }
        }
            .international-container-top, 
            .bharathidasan-container-top{
                grid-template-columns: repeat(1, 85%);
                row-gap:3rem;
                justify-content: center;
                align-items: center;
            }
            .bharathidasan-container-top-2, 
            .international-container-top-2, 
            .bharathidasan-team-games-container,
             .international-team-games-container{
                grid-template-columns: repeat(1, 85%);
                padding:3rem 0rem;
                width:100%;
             }
        }
        @media only screen and (max-width: 380px){
            .international-container-top, 
            .bharathidasan-container-top{
                grid-template-columns: repeat(1, 95%);
                row-gap:3rem;
                justify-content: center;
                align-items: center;
            }
            .bharathidasan-container-top-2, 
            .international-container-top-2, 
            .bharathidasan-team-games-container,
             .international-team-games-container{
                grid-template-columns: repeat(1, 95%);
                padding:3rem 0rem;
                width:100%;
             }
            .international-sports-option h1,
    .bharathidasan-sports-option h1{
      font-size:2rem;
    }
    .international-sports-option select,
    .bharathidasan-sports-option select
    {
    padding:0;
   font-size:1.3rem;
    }
    .international-sports-option select option,
    .bharathidasan-sports-option select option
    {
        font-size:1.3rem;
    }
            .international-heading-2 h1{
                font-size:1.8rem;
                line-height:2rem;

            }
            .bharathidasan-heading-2 h1{
                font-size:1.5rem;

                line-height:2rem;
             }
             .bharathidasan-title-and-year-container select,
             .international-title-and-year-container select
             {
                font-size:1.6rem;
                border-radius:2rem;
              }
              .bharathidasan-title-and-year-container select option,
              .international-title-and-year-container select option
              {
                font-size:1.6rem;
              }
    
          
        }
    